@import url("reset.css");

body {
	font-size: 20px;
}

h1 {
	font-size: 3.5em;
}

h2 {
	font-size: 2.2em;
}

h3 {
	font-size: 1.5em;
}


/*-----------------------------------------------------------
							TASK 1
-----------------------------------------------------------*/

/*========================= General Style ==========================*/

.task1 {
	width: 100%;
	min-width: 703px;
	height: 700px;
	text-align: center;
}

.task1 .control-panell {
	height:30%;
}

.task1 .btn {
	display: inline-block;
	width: 150px;
	height: 80px;
	border: 1px solid black;
	margin: 10px;
	margin-top: 5%;
}

.task1 .blocks {
	height: 60%;
}

.task1 .text-block {
	display: inline-block;
	vertical-align: top;
	width: 40%;
	height: 300px;
	border: 1px solid black;
	margin: 10px;
	padding: 5px;
}

.task1 p {
	padding-top: 15%;
}


/*========================= Dark Theme ==========================*/
.background-dark {
	color: #8E0000;
	background: #444;
    font-weight: bold;
    font-family: monospace;
    border-top: 5px solid #8E0000;
	border-bottom: 5px solid #8E0000;
}

.btn-dark {
	background-color: #717171;
}

.div-1-dark {
	background: #007ABD;
}

.div-2-dark {
	background: #009616;
}

/*========================= Light Theme ==========================*/
.background-light {
	color: #848484;
	background: #F3F3F3;
	font-family: cursive;
	border-top: 5px solid #C58F8F;
	border-bottom: 5px solid #C58F8F;
}

.btn-light {
	background-color: #FFFFFF;
}

.div-1-light {
	background: #DAF2FF;
}

.div-2-light {
	background: #A6FDBB;
}
/*========================= Crazy Theme ==========================*/
.background-crazy {
	color: black;
	background: #2EFF00;
	font-family: fantasy;
	border-top: 5px solid #F00;
	border-bottom: 5px solid #FFFC00;
}

.btn-crazy {
	background-color: #00F1FF;
}

.div-1-crazy {
	background: #F00;
}

.div-2-crazy {
	background: #FFFC00;
}
/*========================= Reset Theme ==========================*/
.background-reset {
	color: #464646;
	background: #D4D4D4;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
}

.btn-reset {
	background-color: #FFFFFF;
}

.div-1-reset {
	background: white;
}

.div-2-reset {
	background: white;
}

/*-----------------------------------------------------------
							TASK 2
-----------------------------------------------------------*/



.task2 {
	width: 100%;
	min-width: 663px;
	min-height: 750px;
	background: #676767;
	border-bottom: 5px solid black;
	text-align: center;
	color:#E2E2E2;
}

.task2 .files {
	display: inline-block;
	vertical-align: top;
	width: 40%;
	height: 300px;
	margin: 10px;
	margin-top: 5%;
	padding: 5px;
}

.task2 button {
	margin-left: 10px;
}

.task2 .listOfFiles li {
    margin: 10px;
    padding-bottom: 10px;
}

.task2 .mrg {
	margin: 5px;
}